.footer{
	@include flexible-column();
	margin-top: 350px;
	padding: 150px 0;

	.logo{
		margin-bottom: 43px;
	}

	.nav{
		margin-bottom: 30px;

		&__link{
			font-size: 18px;
		}
	}

	&__text{
		margin-bottom: 30px;
		font-size: 18px;
		line-height: 21px;
		color: #808080;
	}

	.button{
		width: 260px;
		height: 60px;
		border: 1px solid #fff;
		border-radius: 3px;
		text-align: center;
		color: inherit;
		font-size: 18px;
	}
}